.contentDash{
    display: flex;
    height: 90vh;
    flex-flow: row wrap;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: 8vh;
}

.searchDados{
    display: block;
    width: 10%;
    margin: auto;
    text-align: center;
}

.acoesDash{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

main{
    height: 70%;
    width: 90%;
}

table{
    margin: 10px;
}

button {
    margin: 10px;
}
